PORT=3001
NODE_ENV=development
DB_HOST=switchyard.proxy.rlwy.net
DB_PORT=12377
DB_NAME=inventario_ventas
DB_USER=postgres
DB_PASSWORD=GwTfotwqaRDpaoFkZuuhxdUpCpeLccdq
JWT_SECRET=inventario_ventas_clave_secreta_2024
JWT_EXPIRES_IN=8h
